@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Raleway", sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

.zeyad{
  padding-top: 150px;
}

.logo{
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

h2{
  color: #fff;
  text-align: center;
  display: block;
  font: normal 16px/24px "ProximaNova", sans-serif;
  font-size: 3em;
  line-height: 1em;
}

span{
display: block;
font-size: 14px;
padding-top: 15px;
font-weight: normal;
color: white;
letter-spacing: 0.2em;
}

body{
  background: #f4f3f3
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/165672/O2GIxau.jpg) repeat-x center top fixed;
  color: #444948;
}

header {
  height: 520px;
  position: fixed;
  top: 0;
  width: 100%;
}

.social{
  text-align: center;
  padding: 0;
}

.social a{
  width: 50px;
height: 50px;
display: inline-block;
-webkit-transform: scale(0.5, 0.5);
transform: scale(0.5, 0.5);
background-position: center;
background-repeat: no-repeat;
text-align: center;
border: 0;
}

.twitter{
  transition:background .2s;
  border-radius: 50%;
  transition: color .3s;
}

.github{
  transition:background .2s;
  border-radius: 50%;
}

.email{
  transition:background .2s;
}

.twitter:hover{
  box-shadow: 0 0 0 4px #fff;
  color: #59d;
}

.github:hover{
  box-shadow: 0 0 0 4px #fff;
}

.email:hover{
  box-shadow: 0 0 0 4px #fff;
}

.left{
  color: black;
  font: normal 14px/22px "ProximaNova", sans-serif;
}

#container {
  margin: 526px auto 0 auto;
  width: 100%;
  background: #fbf4e0;
  position: relative;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  z-index: 3;
  padding-top: 20px;
}

#container h2 {
    border-bottom: .2px solid #bababa;
    display: block;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    font: normal 14px/22px "ProximaNova", sans-serif;
}

#container h2 span em.left {
  letter-spacing: .1em;
  font-size: 1em;
}

p{
  font: normal 14px/22px "ProximaNova", sans-serif;
  width: 27%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.piece{
  width: 100%;
  padding-top: 20px;
}

.piece2{
  width: 240px;
  padding-top: 20px;
  margin-left: 10px
}

.piece3{
  width: 240px;
  padding-top: 20px;
  margin-left: 10px
}

.piece4{
  width: 240px;
  padding-top: 20px;
  margin-left: 10px
}

.piece5{
  width: 240px;
  padding-top: 20px;
  margin-left: 10px
}

.piece6{
  width: 240px;
  padding-top: 20px;
  margin-left: 10px
}

.column{
  text-align: center;
}

.portfolio{
  text-align: center;
}

section.aboutme {
    width: 375px;
    float: left;
}

footer p {
  border-top: .2px solid #bababa;
  width: 780px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-size: 11px;
  color: #3F372F;
  padding-bottom: 60px;
  position: relative;
  font-family: ProximaNovaSemibold;
}
